body
{
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);

}


hr{
  border-style:none;
  border-top-style: dotted;
  border-width:5px;
  border-color:grey;
  width:5%;
}

h1
{
color: #66BFBF;
}
h3
{
 color: #66BFBF;
}
